.navigation {
    border: solid 2px grey;
    height: 100%;
    width: 100%;
    color: black;

    &__item {
        &:hover {
            cursor: pointer;
            background-color: #f0f0f0;
        }
        &-active {
            background-color: #f0f0f0;
        }
    }
}