$colorGrey: grey;

.navigation {
    height: 100%;
    width: 100%;

    &__item {
        border-bottom: solid 1px $colorGrey;
        padding: 15px;

        &:hover {
            cursor: pointer;
            background-color: #f0f0f0;
        }
        &-active {
            background-color: #f0f0f0;
        }
    }
}