$colorGrey: #ccc;

.contacts-info {    
    &__item {
        position: relative;
    }
    &__icon {
        color: $colorGrey;
    }
    &__value {
        position: absolute;
        top: 0;
        margin-left: 10px;
    }
}