<div class="contacts-info">
    <div class="contacts-info__item">
        <mat-icon class="contacts-info__icon">
            phone
        </mat-icon>
        <span class="contacts-info__value">
            {{ contacts?.phone }}
        </span>
    </div>
    <div class="contacts-info__item">
        <mat-icon class="contacts-info__icon">
            location_on
        </mat-icon>
        <span class="contacts-info__value">
            {{ contacts?.location }}
        </span>
    </div>
    <div class="contacts-info__item">
        <mat-icon class="contacts-info__icon">
            access_time
        </mat-icon>
        <span class="contacts-info__value">
            {{ contacts?.workTime }}
        </span>
    </div>
</div>